<!DOCTYPE html>
<html lang="en">
<head>
    <title>TitanLocks - Admin Change Password</title>
    {{ include('@Brain/Resources/Defaults/Head.html.twig') }}
</head>
<body>
{{ include('@Brain/Resources/Defaults/AdminNavBar.html.twig') }}

<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    {{ include('@Brain/Resources/Defaults/Footer.html.twig') }}
    <div ui-view class="app-body" id="view">
        <div class="p-a white lt box-shadow">
            <div class="row">
                <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up" style="padding-top: 3px;"><i class="material-icons"></i></a>
                <div class="col-sm-6">
                    <h4 class="mb-0 _300">Change Password</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 20px;">
            <div class="box">
                <div class="box-header">
                    <small>Your password is using hashing encryption which means it can't be decrypted. So your password will just be shown as ************************************
                    </small>
                </div>
                <div class="box-divider m-a-0"></div>
                <div class="box-body">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <span class="">{{ flashMessage }}</span>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% if success is defined and success|length > 0 %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ success }}
                        </div>
                    {% endif %}
                    {% if warning is defined and warning|length > 0 %}
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ warning }}
                        </div>
                    {% endif %}
                    {% if error is defined and error|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ error }}
                        </div>
                    {% endif %}
                    {% if app.request.get('error') is defined and app.request.get('error')|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ app.request.get('error') }}
                        </div>
                    {% endif %}
                    {% if app.request.get('warning') is defined and app.request.get('warning')|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ app.request.get('warning') }}
                        </div>
                    {% endif %}
                    {% if app.request.get('success') is defined and app.request.get('success')|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            {{ app.request.get('success') }}
                        </div>
                    {% endif %}

                    <form method="post" role="form" class="ng-pristine ng-valid">
                        <div class="form-group"><label for="exampleInputEmail1">Old password</label><p style="padding-left:20px;">************************************</p>
                        </div>
                        <div class="form-group"><label for="exampleInputPassword1">Password</label><input
                                    type="password" name="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password"></div>
                        <div class="form-group"><label for="exampleInputEmail1">New Password</label><input type="password"
                                                                                                           name="newPassword"
                                                                                                        class="form-control"
                                                                                                        id="exampleInputEmail1"
                                                                                                        placeholder="New email">
                        </div>
                        <div class="form-group"><label for="exampleInputEmail1">Re-entered new Password</label><input type="password"
                                                                                                                      name="reEnteredNewPassword"
                                                                                                                   class="form-control"
                                                                                                                   id="exampleInputEmail1"
                                                                                                                   placeholder="Re-entered new email">
                        </div>
                        <button type="submit" style="padding-left: 10px;padding-right: 10px;height: 30px;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ############ PAGE END-->

</div>
</div>
</div>
{{ include('@Brain/Resources/Defaults/FooterIncludes.html.twig') }}
</body>
</html>
