<!DOCTYPE html>
<html lang="en">
<head>
    <title>TitanLocks - Admin Manage Users</title>
    {{ include('@Brain/Resources/Defaults/Head.html.twig') }}
</head>
<body>
{{ include('@Brain/Resources/Defaults/AdminNavBar.html.twig') }}

<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    {{ include('@Brain/Resources/Defaults/Footer.html.twig') }}
    <div ui-view class="app-body" id="view">
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up" style="padding-top: 3px;"><i class="material-icons"></i></a>
                        <h4 class="mb-0 _300" style="padding-left: 10px;">Edit User</h4>
                    <button style="padding-left: 5px;padding-right: 5px;margin-left: 10px;">
                        <a href="{{ path('admin/dashboard/manage/users') }}">Back</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding ng-scope">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="">{{ flashMessage }}</span>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% if success is defined and success|length > 0 %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ success }}
                </div>
            {% endif %}
            {% if warning is defined and warning|length > 0 %}
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ warning }}
                </div>
            {% endif %}
            {% if error is defined and error|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ error }}
                </div>
            {% endif %}
            {% if app.request.get('error') is defined and app.request.get('error')|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ app.request.get('error') }}
                </div>
            {% endif %}
            {% if app.request.get('warning') is defined and app.request.get('warning')|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ app.request.get('warning') }}
                </div>
            {% endif %}
            {% if app.request.get('success') is defined and app.request.get('success')|length > 0 %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ app.request.get('success') }}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h2><b>User:</b> {{ email }}</h2>
                            <small>Leave password blank to keep the password as the current password</small>
                        </div>
                        <div class="box-divider m-a-0"></div>
                        <div class="box-body">
                            <form method="post" role="form" class="ng-pristine ng-valid">
                                <div class="form-group"><label for="exampleInputEmail1">Email:</label><input type="email"
                                                                                                             name="userEmail"
                                                                                                             class="form-control"
                                                                                                             id="exampleInputEmail1"
                                                                                                             value="{{ email }}"
                                                                                                             placeholder="New email">
                                </div>
                                <div class="form-group"><label for="exampleInputPassword1">Password:</label><input
                                            type="password" name="userPassword" class="form-control" id="exampleInputPassword1"
                                            placeholder="Password"></div>
                                <div class="form-group"><label for="exampleInputPassword1">Job title (permissions):</label>
                                    <select id="userJobTitle" class="form-control c-select m-b ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
                                            ng-model="f.b" required="" name="userJobTitle" style="">
                                        <option value="{{ userJobTitle }}">{{ userJobTitle }}</option>
                                        {% for jobTitle in jobTitles %}
                                            <option value="{{ jobTitle }}">{{ jobTitle }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" style="padding-left: 10px;padding-right: 10px;height: 30px;">Edit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>document.getElementById('userJobTitle').value="{{ userJobTitle }}";</script>

    <!-- ############ PAGE END-->

</div>
</div>
</div>
{{ include('@Brain/Resources/Defaults/FooterIncludes.html.twig') }}
</body>
</html>
